<div class="card-body">
  <form *ngIf="(mode === 'create') || (mode === 'edit' && editActivate)" [formGroup]="form" (submit)="submit()">
    <h6 class="heading-small text-muted mb-4">Informações pessoais</h6>
    <div class="pl-lg-4" *ngIf="(mode === 'create') || (mode === 'edit' && editActivate)">
      <div class="row">

        <div class="col-md-6 col-sm-6'">

          <mat-form-field appearance="outline">
            <input (keyup)="modifyField('name')" autocomplete="off" matInput type="text" placeholder="Nome completo" formControlName="name" name="name">
          </mat-form-field>

        </div>

        <div class="col-md-6 col-sm-6">

          <mat-form-field appearance="outline">
            <input (keyup)="modifyField('email')"  (blur)="inputCheck('email')" autocomplete="off" matInput type="email" formControlName="email" name="email" placeholder="Email">
          </mat-form-field>

          <span *ngIf="status_form.email.loading" class="span-spinner">
              <i class="fa fa-spinner fa-pulse"></i>
            </span>
        </div>

      </div>

      <div class="row">

        <div class="col-md-4 col-sm-4">

          <mat-form-field appearance="outline">
            <input (keyup)="modifyField('cpf_cnpj')"  autocomplete="off" (blur)="inputCheck('cpf_cnpj')" matInput type="text" placeholder="CPF" formControlName="cpf_cnpj"
                   name="cpf_cnpj">
          </mat-form-field>

        </div>

        <div class="col-md-4 col-sm-4">

          <mat-form-field appearance="outline">
            <input (keyup)="modifyField('birthdate')" [max]="today" autocomplete="off" matInput (keypress)="birthdate.open()" (focus)="birthdate.open()" [matDatepicker]="birthdate" placeholder="Data de Nascimento"
                   formControlName="birthdate" name="birthdate">
            <mat-datepicker-toggle matSuffix [for]="birthdate"></mat-datepicker-toggle>
            <mat-datepicker #birthdate></mat-datepicker>
          </mat-form-field>

        </div>

        <div class="col-md-4 col-sm-4">

          <mat-form-field appearance="outline">
            <mat-select [disabled]="mode === 'edit'" placeholder="Tipo de usuário" formControlName="role" name="role">
              <mat-option value="2">Fornecedor</mat-option>
              <mat-option *ngIf="mode === 'edit'" value="1">Administrador</mat-option>
              <mat-option *ngIf="mode === 'edit'" value="0">Desenvolvedor</mat-option>
            </mat-select>
          </mat-form-field>

        </div>

      </div>
    </div>

    <div class="row" *ngIf="!submitForm">
      <div class="col-md-12 text-right" >
        <button type="submit" class="btn btn-primary">{{getSubmitName()}}</button>
      </div>
    </div>

  </form>

</div>
