<ng-container *ngIf="quotation && quotation.product && quotation.fabricators.length > 0">

    <div class="quotation mt-2 mb-3 ml-2 mr-2" matRipple (click)="toQuotationList()" [matRippleCentered]="false" [matRippleDisabled]="false" [matRippleUnbounded]="false">

        <ng-container [ngSwitch]="cart.toString()">
            <div class="d-flex justify-content-end align-items-center" *ngSwitchCase="'true'">
                <span (click)="remove()" class="d-flex justify-content-center align-items-center remove">
                    excluir
                </span>
            </div>

            <div class="d-flex justify-content-end align-items-center" *ngSwitchDefault>
                <span [ngClass]="status" class="d-flex justify-content-center align-items-center status">
                    Ativo
                </span>
            </div>

        </ng-container>

        <div class="d-flex justify-content-between align-items-center">
            <div style="flex: 70%" class="d-flex align-items-start">
                <span class="break"> {{quotation.product.name | titlecase}} </span>
            </div>

            <div style="flex: 30%" class="d-flex justify-content-end align-items-center">
                <span style="font-size: 2rem; font-weight: 500;">{{quotation.amount}}</span>
            </div>
        </div>

        <div class="d-flex justify-content-between align-items-center pt-2">
            <div>
                <ng-container *ngFor="let fabricator of quotation.fabricators;">
                    <div class="avatar mr-2" (click)="showFabricator(fabricator)"
                        [ngStyle]="{'background-image': 'url(' + fabricator.picture + ')'}">
                    </div>
                </ng-container>
            </div>

            <div>
                <span class="category"> {{quotation.product.category.name | titlecase}} </span>
            </div>

        </div>

    </div>
</ng-container>