<div modal>

  <div class="container">
    <div class="row" style="justify-content: center; display: flex; min-height: 250px;">
      <div class="col-md-6">
        <mat-card>
          <app-loading [loading]=status.loading></app-loading>
          <form [formGroup]="productForm" (submit)="saveProduct()">
            <div class="row" style="margin: 20px auto;">

              <div class="col-md-4">

                <mat-form-field appearance="outline">
                  <mat-label>Descrição</mat-label>
                  <input autocomplete="off" matInput type="text" formControlName="code" name="code" placeholder="Código do produto">
                  <mat-icon matSuffix>shopping_basket</mat-icon>
                </mat-form-field>

              </div>
              <div class="col-md-8">

                <mat-form-field appearance="outline">
                  <mat-label>Descrição</mat-label>
                  <input autocomplete="off" matInput type="text" formControlName="description" name="description"
                    placeholder="Descrição">
                  <mat-icon matSuffix>shopping_basket</mat-icon>
                </mat-form-field>

              </div>
            </div>
            <div class="row" style="margin: 20px auto;">
              <div class="col-md-6">

                <mat-form-field appearance="outline">
                  <mat-label>Quantidade</mat-label>
                  <input autocomplete="off" min=0 max=10000 matInput type="text" formControlName="amount" name="amount"
                    placeholder="Quantidade">
                  <mat-icon matSuffix>shopping_basket</mat-icon>
                </mat-form-field>

              </div>
              <div class="col-md-6">

                <mat-form-field appearance="outline">
                  <mat-label>Preço</mat-label>
                  <input autocomplete="off" min=1 max=10000 matInput type="text" formControlName="price" name="price"
                    placeholder="Preço">
                  <mat-icon matSuffix>shopping_basket</mat-icon>
                </mat-form-field>

              </div>

            </div>

            <div class="row" style="margin: 20px auto;">
              <div class="col-6 text-center">
                <button [disabled]="status.loading" type="button" class="btn btn-outline-default" (click)="cancel()">Cancelar</button>
              </div>
              <div class="col-6 text-center">
                <button [disabled]="status.loading" type="submit" class="btn btn-slack">Salvar</button>
              </div>
            </div>
          </form>

        </mat-card>
      </div>
    </div>
  </div>

</div>