#content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

@media (max-width: 900px) {
    #content .icon {
        display: none;
    }
}

@media(max-width: 768px) {
    span {
        font-size: 1em;
    }
}