<div *ngIf="type.type === 'sales' && this.form.controls.brand_id.value" [@showup] class="header bg-gradient-primary pb-4 pt-4">
  <div class="container">
    <div class="header-body">
      <div class="row justify-content-end" *ngIf="cards && cards.length > 0" [@listNiches]="cards.length">
        <div class="col-lg-6 col-sm-6" [ngClass]="card.price ? 'col-xl-4' : 'col-xl-2 col-6'" *ngFor="let card of cards">
          <app-dashboard-card [config]="card"></app-dashboard-card>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row pt-5 pb-5">
    <div class="col-xl-12 mb-xl-0">
      <div class="card shadow">

        <app-loading [loading]="status_form.loading"></app-loading>

        <div class="card-header border-0" >
          <div class="row align-items-center">
            <div class="col">
              <h3 class=" pl-0 mb-0">Relatório de {{type.typeBr | titlecase}}</h3>
            </div>

          </div>
          <div class="row align-items-center">
            <form style="width: 100%" [formGroup]="form" (submit)="submit()">
              <div class="row">

                <div class="col-md-5 col-sm-5">

                  <mat-form-field appearance="outline">
                    <mat-label>Marca</mat-label>
                    <mat-select (selectionChange)="loadMonths()" formControlName="brand_id" name="brand_id">
                      <mat-option *ngFor="let contract of contracts" [value]=contract.brand.id>{{contract.brand.name}}</mat-option>
                    </mat-select>
                    <mat-icon matSuffix>loyalty</mat-icon>

                  </mat-form-field>

                </div>

                <div class="col-md-5 col-sm-5">

                  <mat-form-field appearance="outline">
                    <mat-label>Mês</mat-label>
                    <mat-select formControlName="month" name="month">
                      <mat-option *ngFor="let month of months" [value]=month.value>{{month.title | titlecase}}</mat-option>
                    </mat-select>
                    <mat-icon matSuffix>event</mat-icon>

                  </mat-form-field>

                </div>

                <div class="col-md-2 col-sm-2 text-center">
                  <button type="submit" class="btn btn-primary">
                    <mat-icon>search</mat-icon>

                  </button>
                </div>

              </div>

              <div class="row">

              </div>

            </form>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr *ngIf="type.type === 'sales'">
                <th scope="col">Código</th>
                <th scope="col">Produto</th>
                <th class="text-right" scope="col">Quantidade</th>
                <th class="text-right" scope="col">Desconto</th>
                <th class="text-right" scope="col">Des. Pagamento</th>
                <th class="text-right" scope="col">Pre. Unitário</th>
                <th class="text-right" scope="col">Preço Total</th>
                <th scope="col">Data</th>
              </tr>

              <tr *ngIf="type.type !== 'sales'">
                <th scope="col">Código</th>
                <th scope="col">Produto</th>
                <th class="text-right" scope="col">Quantidade</th>
              </tr>
            </thead>
            <tbody *ngIf="componentData" [@listObjShowup]="componentData.length">
              <tr *ngFor="let data of componentData" class="line">
                <td>
                  {{data.code}}
                </td>
                <td>
                  {{data.description}}
                </td>
                <td class="text-right">
                  {{data.amount}}
                </td>
                <td class="text-right" *ngIf="type.type === 'sales'">
                  {{data.discount | price}}
                </td>
                <td class="text-right" *ngIf="type.type === 'sales'">
                  {{data.discount_payment | price}}
                </td>
                <td class="text-right" *ngIf="type.type === 'sales'">
                  {{data.original_price | price}}
                </td>
                <td class="text-right" *ngIf="type.type === 'sales'">
                  {{data.price | price}}
                </td>
                <td *ngIf="type.type === 'sales'">
                  {{data.registered_at | date:'dd/MM/yyyy'}}
                </td>
              </tr>

            </tbody>

            <tbody *ngIf="componentData && !safe_pagination">
              <tr>
                <td [attr.colspan]="type.type === 'sales' ? '8' : '5'" style="text-align: center">
                  <mat-paginator #pagination [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                    (page)="onPaginateChange($event)"></mat-paginator>
                </td>
              </tr>
            </tbody>

            <tbody *ngIf="!componentData || (componentData && componentData.data && componentData.data.length <= 0)">
              <tr>
                <td [attr.colspan]="type.type === 'sales' ? '8' : '5'" style="text-align: center">
                  {{type.typeBr | uppercase}}
                </td>
              </tr>
            </tbody>

          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <app-confirm *ngIf="client" (cancel)="cancel()" (done)="delete()" [client]="client"></app-confirm> -->