<div class="row" *ngIf="idAccount">
    <app-dashboard-card (changeFilter)="getReports()" [@detailExpand]="idAccount ? 'expanded' : 'collapsed'" *ngFor="let card of cards"
        [title]="card.title" [name]="card.name" [data]="googleReposts" class="d-flex col-md-3 col-sm-6 col-6" [method]="card.method"
        [observable]="card.observable" [service]="card.service"></app-dashboard-card>
</div>

<app-budget></app-budget>

<div class="row">
    <div class="col">
        <app-campaigns-list></app-campaigns-list>
    </div>
</div>