<div class="container-fluid container-full" style="background: #ccc;">
  <div class="background"></div>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-5 col-sm-12">
        <div class="card m-0">

          <app-loading [loading]="loading"></app-loading>

          <div class="row">
            <div class="col">
              <!-- <img class="logo" src="assets/img/jogga.png" alt="Jogga Hub"> -->
            </div>
          </div>

          <form [formGroup]="form" (submit)="submit()" (keyup.enter)="submit()">

            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input type="email" matInput placeholder="Email" formControlName="email">
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Senha</mat-label>
              <input type="password" matInput placeholder="Senha" formControlName="password">
              <mat-icon matSuffix>lock_outline</mat-icon>
            </mat-form-field>

            <div class="card-footer">
              <button [disabled]="loading" class="btn btn-block btn-success" type="submit">Entrar</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>