.brandName {
    margin: 0;
    padding: 5px;
    cursor: pointer;
    border-radius: 30px;
    font-weight: 600;
}

.brandName:hover:not(.active) {
    background: rgb(170, 170, 170);

}

.brandName:hover:not(.active) h5,
.brandName.active h5 {
    color: #FFFFFF;

}

.brandName.active {
    background: rebeccapurple;

}