<div id="card-select-brand" class="card card-stats mb-4" [@showup]>
  <div class="card-body">
    <div class="row">
      <div class="col-12">
        <h5 class="card-title text-uppercase text-muted mb-0">{{contracts.length > 1 ? 'Selecione' : ''}} sua Marca</h5>
      </div>
      <div class="col-12" *ngIf="contracts">
        <div *ngFor="let contract of contracts" class="my-1">
          <h3 *ngIf="brand" class="brandName" (click)="brandSelected(contract.brand.id)" [class.active]="brand === contract.brand.id"
            style="display: flex; align-items: center;">
            <a class="avatar avatar-sm">
              <img alt="Image placeholder" [src]="getImage(brand)" class="rounded-circle">
            </a>
            <h5 class="my-0 mx-2">
              {{contract.brand.name}}
            </h5>
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>