<div class="suport-content">
  <div class="row justify-content-center">
    <div class="col-12">

      <div class="card" style="padding: 50px; margin-top: -25%">
        <h6 class="text-center" style="color: #2f5584; font-size: 2.4rem; font-weight: 700; margin: 0px 0px 30px;">
          Precisando de ajuda? </h6>
        <p style="color: #444; font-weight: 400;">
          Entre em contato através do <span style="font-weight: 900;">WHATSAPP</span> com a equipe de Suporte Exclusivo
          do
          Distribuidor,
          através do número: <span style="color: #25d366; font-weight: 900;">(81) 9-8269-1554</span>
        </p>
      </div>
    </div>
  </div>
</div>