<div class="card" style="border-radius: unset!important" style="margin-bottom: 0!important; border-radius: unset;">
  <app-loading [loading]="loading"></app-loading>

  <div class="card-header card-header-success card-header-icon">
    <h6 class="card-title">{{title}}</h6>
  </div>
  <div class="card-body d-flex align-items-end" style="background: #FFFFFF">

    <div class="row"  style="width: 100%">
      <div class="col">
        <h2 style="color:#3145a9; font-size: 2rem; font-weight: 900;">
          <!-- <ng2-odometer *ngIf="!(_data === '-')" [number]="_data" [format]="'(.ddd)'" [animation]="'count'" [value]="0" [auto]="true">
          </ng2-odometer> -->

          <span>{{_data}}</span>
        </h2>
      </div>
    </div>
  </div>
</div>