<div class="header bg-gradient-primary pb-4 pt-4">
  <div class="container">
    <div class="header-body">
      <div class="row" *ngIf="cards && cards.length > 0" [@listNiches]="cards.length">
        <div class="col-lg-6 col-sm-6" [ngClass]="card.price ? 'col-xl-4' : 'col-xl-2 col-6'" *ngFor="let card of cards">
          <app-dashboard-card [config]="card"></app-dashboard-card>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row pt-5 pb-5">
    <div class="col-xl-12 mb-xl-0">
      <div class="card shadow">

        <app-loading [loading]="status_form.loading"></app-loading>

        <div class="card-header border-0" >
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Produtos</h3>
            </div>

            <!-- <div class="col text-right">
              <a [routerLink]="['/painel/vendas/adicionar']" class="btn btn-sm btn-slack">
                <mat-icon matSuffix>shopping_cart</mat-icon> <span style="margin-left: 3px"> Cadastrar Venda </span>
              </a>
            </div> -->
          </div>

        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Código</th>
                <th scope="col">Produto</th>
                <th class="text-right" scope="col">Valor original</th>
                <th class="text-right" scope="col">Desconto</th>
                <th class="text-right" scope="col">Quantidade</th>
                <th class="text-right" scope="col">Total</th>

              </tr>
            </thead>
            <tbody *ngIf="componentData && componentData.products.length > 0" [@listObjShowup]="componentData.products.length">
              <tr *ngFor="let product of componentData.products" class="line">
                <td>
                  {{product.code}}
                </td>
                <td>
                  {{product.description}}
                </td>
                <td class="text-right">
                  {{product.original_price | price}}
                </td>
                <td class="text-right">
                  {{product.discount | price}}
                </td>
                <td class="text-right">
                  {{product.amount}}
                </td>
                <td class="text-right">
                  {{product.price | price}}
                </td>

              </tr>

            </tbody>

            <tbody *ngIf="componentData && !safe_pagination">
              <tr>
                <td colspan="6" style="text-align: center">
                  <mat-paginator #pagination [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                    (page)="onPaginateChange($event)"></mat-paginator>
                </td>
              </tr>
            </tbody>

            <tbody *ngIf="!componentData || (componentData && componentData.products && componentData.products.length <= 0)">
              <tr>
                <td colspan="6" style="text-align: center">NENHUM PRODUTO NA NOTA</td>
              </tr>
            </tbody>

          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row pt-5 pb-5">
    <div class="col-xl-12 mb-xl-0">
      <div class="card shadow">

        <app-loading [loading]="status_form.loading"></app-loading>

        <div class="card-header border-0" >
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Métodos de Pagamento</h3>
            </div>

            <!-- <div class="col text-right">
              <a [routerLink]="['/painel/vendas/adicionar']" class="btn btn-sm btn-slack">
                <mat-icon matSuffix>shopping_cart</mat-icon> <span style="margin-left: 3px"> Cadastrar Venda </span>
              </a>
            </div> -->
          </div>

        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Descrição</th>
                <th class="text-right" scope="col">Taxa</th>
                <th class="text-right" scope="col">Valor</th>
                <th class="text-right" scope="col">Total de desconto</th>
              </tr>
            </thead>
            <tbody *ngIf="componentData && componentData.payments.length > 0" [@listObjShowup]="componentData.payments.length">
              <tr *ngFor="let payment of componentData.payments" class="line">
                <td>
                  {{payment.description}}
                </td>
                <td class="text-right">
                  {{payment.tax.replace('.', ',')}}%
                </td>
                <td class="text-right">
                  {{payment.value | price}}
                </td>
                <td class="text-right">
                  {{calcDiscount(payment) | price}}
                </td>
              </tr>

            </tbody>

            <tbody *ngIf="componentData && !safe_pagination">
              <tr>
                <td colspan="4" style="text-align: center">
                  <mat-paginator #pagination [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                    (page)="onPaginateChange($event)"></mat-paginator>
                </td>
              </tr>
            </tbody>

            <tbody *ngIf="!componentData || (componentData && componentData.payments && componentData.payments.length <= 0)">
              <tr>
                <td colspan="4" style="text-align: center">NENHUMA VENDA CADASTRADA</td>
              </tr>
            </tbody>

          </table>
        </div>
      </div>
    </div>
  </div>
</div>