<ng-container *ngIf="shouldShowFixeds && shouldShowNav">
    <app-navbar></app-navbar>
</ng-container>

<div class="d-flex align-items-stretch" style="flex-direction: column;"
    [ngStyle]="{'min-height': getHeight(), 'margin-bottom': shouldShowNav ? '55px' : '0px', 'margin-top': shouldShowNav ? '55px' : '0px'}"
    [@routerTransition]="o.isActivated ? o.activatedRoute : ''">
    <router-outlet style="width: 100%" #o="outlet"></router-outlet>
</div>

<ng-container *ngIf="shouldShowFixeds">
    <app-menu></app-menu>
</ng-container>

<!-- <router-outlet style="margin-top: 55px"></router-outlet> -->