<form *ngIf="!status_form.done" [formGroup]="form" (submit)="submit()">
    <h6 class="heading-small text-muted mb-4">Informações dos produtos</h6>

  <div class="row">
    <div class="col-md-12">
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Código do produto
        </mat-label>
        <input type="text" placeholder="Código do produto" (keyup)="filterProducts()" aria-label="Código do produto"
          matInput formControlName="product" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option (click)="selectProduct(product)" *ngFor="let product of productsFiltred" value="{{product.code}} - {{product.description}}">
            {{product.code}} - {{product.description}}
          </mat-option>
        </mat-autocomplete>
        <mat-icon matSuffix>bookmark</mat-icon>

      </mat-form-field>
    </div>
  </div>
  <div class="row">

    <div class="col-md-6 col-sm-6">
      <mat-form-field appearance="outline">
        <mat-label>Quantidade</mat-label>
        <input autocomplete="off" matInput type="text" formControlName="amount" name="amount" placeholder="Quantidade">
        <mat-icon matSuffix>shopping_basket</mat-icon>

      </mat-form-field>
    </div>

    <div class="col-md-6 col-sm-6">
      <mat-form-field appearance="outline">
        <mat-label>Desconto</mat-label>
        <input autocomplete="off" matInput type="text" formControlName="discount" name="discount" placeholder="Desconto">
        <mat-icon matSuffix>money_off</mat-icon>

      </mat-form-field>
    </div>

  </div>

  <div class="row">
    <div class="col-md-12 text-center">
      <button type="submit" class="btn btn-primary">Adicionar</button>
    </div>
  </div>

</form>


<div *ngIf="status_form.products && !status_form.done" class="row">
  <div class="col-md-12 text-center">
    <button (click)="conclusionProducts()" class="btn btn-primary">Continuar Pagamento</button>
  </div>
</div>