<div class="" style="position: relative; margin-bottom: 0!important; border-radius: unset; margin-top: 30px;">
    <app-loading [loading]="status_form.loading"></app-loading>
    <div class="card-header card-header-success card-header-icon">
        <h6 class="card-title">Ligações</h6>
    </div>
    <div *ngIf="!isMobile && componentData && (componentData.length > 0)" id="table" class="table-responsive">
        <mat-table style="background: transparent; overflow-x: hidden; min-width: 800px;" matSort
            (matSortChange)="setSort($event)" [dataSource]="dataSource">

            <ng-container matColumnDef="data">
                <mat-header-cell [style.flex]="'0 0 165px'" style="background: #FFFFFF" mat-sort-header="data"
                    *matHeaderCellDef> Data </mat-header-cell>
                <mat-cell [style.flex]="'0 0 165px'" *matCellDef="let element">
                    {{element.registered_at | date:'dd/MM/yyyy - hh:mm'}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="status">
                <mat-header-cell style="background: #FFFFFF" [style.flex]="'0 0 100px'" mat-sort-header="status"
                    *matHeaderCellDef> Status </mat-header-cell>
                <mat-cell [style.flex]="'0 0 100px'" *matCellDef="let element">
                    {{element.status | titlecase}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="media">
                <mat-header-cell class="justify-content-center" style="background: #FFFFFF" *matHeaderCellDef>
                    Atendimento </mat-header-cell>
                <mat-cell class="justify-content-center" *matCellDef="let element">
                    <audio *ngIf="element.status.toUpperCase() === 'ATENDIDA'" controls controlsList="nodownload"
                        style="width: 350px;">
                        <source [src]="element.url" type="audio/mpeg">Your browser does not
                        support the audio element.
                    </audio>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="number">
                <mat-header-cell class="justify-content-end" [style.flex]="'0 0 200px'" style="background: #FFFFFF"
                    *matHeaderCellDef> Número </mat-header-cell>
                <mat-cell class="justify-content-end" [style.flex]="'0 0 200px'" *matCellDef="let element">
                    {{element.from | phone}}
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

            <mat-row *matRowDef="let row; let element; columns: displayedColumns;" class="element-row"
                [class.disabled]="element.status.toUpperCase() !== 'ATENDIDA'"
                style="padding-top:10px; padding-bottom:10px; height: 80px; min-height: 0px!important; margin: 10px auto; border-radius: 6px; background: #FFFFFF;">
            </mat-row>

        </mat-table>

        <mat-paginator *ngIf="componentData && !safe_pagination" #pagination [length]="length" [pageSize]="pageSize"
            [pageSizeOptions]="pageSizeOptions" (page)="onPaginateChange($event)">
        </mat-paginator>

    </div>

    <div *ngIf="isMobile && componentData && (componentData.length > 0)" id="table" class="table-responsive">
        <mat-table style="background: transparent; overflow-x: hidden" matSort (matSortChange)="setSort($event)" #table
            [dataSource]="dataSource" (@listObjShowup.done)="showPagination()" [@listObjShowup]="componentData.length">
            <!-- Weight Column -->
            <ng-container matColumnDef="show">
                <mat-header-cell style="background: #FFFFFF" [style.flex]="'0 0 50px'" *matHeaderCellDef>
                </mat-header-cell>
                <mat-cell [style.font-size]="'11px'" [style.flex]="'0 0 50px'" *matCellDef="let element">
                    <mat-icon *ngIf="element.status.toUpperCase() === 'ATENDIDA'">keyboard_arrow_down</mat-icon>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="data">
                <mat-header-cell style="background: #FFFFFF" mat-sort-header="data" *matHeaderCellDef> Data
                </mat-header-cell>
                <mat-cell [style.font-size]="'11px'" *matCellDef="let element">
                    {{element.registered_at | date:'dd/MM - hh:mm'}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="status">
                <mat-header-cell style="background: #FFFFFF" mat-sort-header="status" *matHeaderCellDef> Status
                </mat-header-cell>
                <mat-cell [style.font-size]="'11px'" *matCellDef="let element">
                    {{element.status | titlecase}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="number">
                <mat-header-cell class="justify-content-end" style="background: #FFFFFF" *matHeaderCellDef> Número
                </mat-header-cell>
                <mat-cell [style.font-size]="'11px'" class="justify-content-end" *matCellDef="let element">
                    {{element.from | phone}}
                </mat-cell>
            </ng-container>


            <!-- Expanded Content Column - The detail row is made up of this one column -->
            <ng-container matColumnDef="expandedDetail">
                <mat-header-cell class="justify-content-center" style="background: #FFFFFF" *matHeaderCellDef>
                    Atendimento </mat-header-cell>
                <mat-cell class="justify-content-center" *matCellDef="let element">
                    <audio controls controlsList="nodownload" style="width: 100%;">
                        <source [src]="element.element.url" type="audio/mpeg">Your browser does not
                        support the audio element.
                    </audio>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

            <mat-row *matRowDef="let row; let element; columns: displayedColumns;" matRipple class="element-row"
                [class.expanded]="expandedElement == row"
                [class.disabled]="element.status.toUpperCase() !== 'ATENDIDA'"
                (click)="expandedElement = expandedElement === row ? null : row"
                [style.border-bottom-left-radius]="row == expandedElement ? '0px' : '6px'"
                [style.border-bottom-right-radius]="row == expandedElement ? '0px' : '6px'"
                style="cursor: pointer; height: 48px; min-height: 0px!important; margin: 10px auto; border-radius: 6px; background: #FFFFFF;">
            </mat-row>

            <mat-row *matRowDef="let row; let element; columns: ['expandedDetail']; when: isExpansionDetailRow"
                [class.hidden]="element.element.status.toUpperCase() !== 'ATENDIDA'"
                [@detailExpand]="row.element == expandedElement ? 'expanded' : 'collapsed'"
                style="overflow: hidden; border-bottom-left-radius: 6px; border-bottom-right-radius: 6px; margin: -10px 0px 10px 0px; background: #FFFFFF">
            </mat-row>

        </mat-table>

        <mat-paginator *ngIf="componentData && !safe_pagination" #pagination [length]="length" [pageSize]="pageSize"
            [pageSizeOptions]="pageSizeOptions" (page)="onPaginateChange($event)">
        </mat-paginator>

    </div>

    <div *ngIf="(!componentData || !(componentData.length > 0)) && !status_form.loading" id="table"
        class="table-responsive">
        <h6 class="text-center" style="background: #FFF; padding: 15px;">Nenhuma ligação registrada</h6>

    </div>
</div>