<div *ngIf="budget.moura_percent" class="row justify-content-end">
  <div class="col-12">
    <p style="text-align: right; margin-bottom: 0!important; color: #556756;">Valor investido por mês no Google: <span
        style="color: #2f5584; font-weight: 700;">{{budget.google_budget | price}}</span>
    </p>
    <p style="text-align: right; margin-bottom: 0!important; color: #556756;">Percentual a ser pago mensalmente: <span
        style="color: #2f5584; font-weight: 700;">{{budget.moura_percent}}</span></p>
  </div>
</div>