<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-xl-12 mb-xl-0">
      <div class="card shadow">

        <app-loading [loading]="status_form.loading"></app-loading>

        <div class="card-header border-0" style="position: sticky; top: 0; z-index: 999;">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Fornecedores</h3>
            </div>

            <div class="col text-right">
              <a [routerLink]="['/painel/fornecedores/adicionar']" class="btn btn-sm btn-slack">
                <mat-icon matSuffix>person_add</mat-icon> <span style="margin-left: 3px"> Cadastrar Fornecedor </span>
              </a>
            </div>
          </div>

        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">CPF</th>
                <th scope="col">Email</th>
                <th scope="col">Ações</th>
              </tr>
            </thead>
            <tbody *ngIf="componentData" [@listObjShowup]="componentData.length">
              <tr *ngFor="let purveyor of componentData" class="line">
                <td>
                  {{purveyor.name}}
                </td>
                <td>
                  {{purveyor.cpf_cnpj | cpf}}
                </td>
                <td>
                  {{purveyor.email}}
                </td>
                <td>
                  <div class="dropdown">
                    <a class="btn btn-sm btn-icon-only text-light" role="button" (click)="actions($event)">
                      <i class="fa fa-ellipsis-v"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow" style="z-index: 9;">
                      <a class="dropdown-item text-center" [routerLink]="['/painel/fornecedores/editar', purveyor.id]">
                        <a class="btn btn-sm btn-info">
                          <mat-icon matSuffix>assignment</mat-icon> <span style="margin-left: 3px"> Editar
                          </span>
                        </a>
                      </a>
                    </div>
                  </div>

                </td>
              </tr>

            </tbody>

            <tbody *ngIf="componentData">
              <tr>
                <td colspan="5" style="text-align: center">
                  <mat-paginator #pagination [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                    (page)="onPaginateChange($event)"></mat-paginator>
                </td>
              </tr>
            </tbody>

            <tbody *ngIf="!componentData || (componentData && componentData.data && componentData.data.length <= 0)">
              <tr>
                <td colspan="5" style="text-align: center">NENHUMA VENDA CADASTRADA</td>
              </tr>
            </tbody>

          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <app-confirm *ngIf="client" (cancel)="cancel()" (done)="delete()" [client]="client"></app-confirm> -->