<!-- Sidenav -->
<nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
  <div class="container-fluid">
    <!-- Toggler -->

    <div class="burger-container d-md-none" (click)="toggleNavbarMobile()">
      <div class="burger">
        <div class="line" id="one"></div>
      </div>
    </div>

    <!-- Brand -->
    <a class="navbar-brand pt-0" href="./index.html">
      <img src="assets/img/logo_login.png" class="navbar-brand-img" alt="...">
    </a>

    <!-- User -->
     <ul class="nav align-items-center d-md-none">
    </ul>
    
    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="sidenav-collapse-main">
      <!-- Collapse header -->
      <div class="navbar-collapse-header d-md-none">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a href="index.html">
              <img src="assets/img/logo_login.png">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button (click)="toggleNavbarMobile()" type="button" class="navbar-toggler" data-toggle="collapse"
              data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <!-- Navigation -->
      <ul class="navbar-nav">
        <li *ngFor="let menu of menuItems" class="nav-item">
          <a (click)="closeNavbarMobile()" *ngIf="hasPermission(menu.permission)" class="nav-link" [routerLink]="[menu.path]"
            routerLinkActive #rla="routerLinkActive" [ngClass]="match(menu.root) ? 'active' : ''">
            <i *ngIf="!menu.material" [class]="menu.icon" [ngClass]="match(menu.root) ? 'text-blue' : ''"></i>
            <i *ngIf="menu.material" class="material-icons" [ngClass]="match(menu.root) ? 'text-blue' : ''">{{menu.icon}}</i>
            {{menu.title}}
          </a>
        </li>
      </ul>

      <hr class="my-3">

      <div class="mt-4">
        <button (click)="auth.logout()" type="button" class="btn btn-pinterest btn-md btn-block">Sair</button>
      </div>

    </div>
  </div>
</nav>