<!-- Header -->
<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
     style="min-height: 600px; background-image: url('../../../../../assets/img/bg.png'); background-size: 100%; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-default opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">{{mode === 'edit' ? 'Editar Fornecedor' : 'Adicionar Fornecedor'}} </h1>
        <p class="text-white mt-0 mb-5">Adicionar um fornecedor a sua base de dados.</p>
      </div>
    </div>
  </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-12 order-xl-1">

      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Cadastrar Fornecedor</h3>
            </div>
          </div>
        </div>
        <app-personal-form [data]="editDataUser" (saveUser)="setLastUser($event)" [edit]="edit" [mode]="mode"></app-personal-form>
        <app-brand-form [data]="editDataUser" [edit]="edit" (saveBrand)="setLastBrand($event)" [user]="lastUser" [mode]="mode"></app-brand-form>
        <app-contract-form [data]="editDataUser" (save)="doneStore($event)"  [edit]="edit" [user]="lastUser" [brand]="lastBrand"  [mode]="mode"></app-contract-form>

      </div>


    </div>
  </div>

</div>
