<div [@detailExpand]="(shouldShowBudget && data) ? 'expanded' : 'collapsed'" class="row">
    <div class="col">
        <div class="card" style="border-radius: unset!important; margin-bottom: 0!important;">
            <app-loading [loading]="loading"></app-loading>
            <div class="card-header card-header-success card-header-icon">
                <h6 class="card-title">
                    Orçamento do mês de {{getMonth()}}
                </h6>
            </div>
            <div class="card-body" style="background: #FFFFFF">
                <div class="row">
                    <div class="col">
                        <div class="d-flex align-items-center justify-content-space-between">
                            <span style="margin: 0 10px">0%</span>
                            <mat-progress-bar mode="determinate" [value]="data"></mat-progress-bar>
                            <span style="margin: 0 10px">100%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>