<div modal>
  <div class="container">
    <div class="row" style="justify-content: center; display: flex; min-height: 250px;">
      <div class="col-12">
        <mat-card>
          <div class="nav-wrapper">
            <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-icons-text" role="tablist">
              <li class="nav-item">
                <a class="nav-link mb-sm-3 mb-md-0" (click)="changeTab('suply')" [ngClass]="active === 'suply' ? 'active' : ''">
                  <i class="ni ni-cloud-upload-96 mr-2"></i>Abastecimento</a>
              </li>
              <li class="nav-item">
                <a class="nav-link mb-sm-3 mb-md-0" (click)="changeTab('return')" [ngClass]="active === 'return' ? 'active bg-gradient-danger' : ''">
                  <i class="ni ni-bell-55 mr-2"></i>Devolução</a>
              </li>
              <li class="nav-item">
                <a class="nav-link mb-sm-3 mb-md-0" (click)="changeTab('sale')" [ngClass]="active === 'sale' ? 'active bg-gradient-green' : ''">
                  <i class="ni ni-calendar-grid-58 mr-2"></i>Vendas</a>
              </li>
            </ul>
          </div>
          <div class="card shadow">
            <div class="card-body">
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade" [ngClass]="active === 'suply' ? 'show active' : ''">
                  <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                      <thead class="thead-light">
                        <tr>
                          <th scope="col">Código</th>
                          <th scope="col">Descrição</th>
                          <th class="text-right" scope="col">Quantidade</th>
                          <th class="text-right" scope="col">Data</th>
                        </tr>
                      </thead>
                      <tbody *ngIf="detail.supplies.length > 0" [@listObjShowup]="detail.supplies.length">
                        <tr *ngFor="let $detail of detail.supplies" class="line">
                          <td>
                            {{detail.code}}
                          </td>
                          <td>
                            {{detail.description}}
                          </td>
                          <td class="text-right">
                            {{$detail.amount}}
                          </td>
                          <td class="text-right">
                            {{$detail.created_at.date | date:'dd/MM/yyyy'}}
                          </td>
                        </tr>
                      </tbody>

                      <tbody *ngIf="!(detail.supplies.length > 0)">
                        <tr>
                          <td colspan="5" style="text-align: center">NENHUMA VENDA CADASTRADA</td>
                        </tr>
                      </tbody>

                    </table>
                  </div>
                </div>
                <div class="tab-pane fade" [ngClass]="active === 'return' ? 'show active' : ''">
                  <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                      <thead class="thead-light">
                        <tr>
                          <th scope="col">Código</th>
                          <th scope="col">Descrição</th>
                          <th class="text-right" scope="col">Quantidade</th>
                          <th class="text-right" scope="col">Data</th>
                        </tr>
                      </thead>
                      <tbody *ngIf="detail.supplies.length > 0" [@listObjShowup]="detail.supplies.length">
                        <tr *ngFor="let $detail of detail.returns" class="line">
                          <td>
                            {{detail.code}}
                          </td>
                          <td>
                            {{detail.description}}
                          </td>
                          <td class="text-right">
                            {{$detail.amount}}
                          </td>
                          <td class="text-right">
                            {{$detail.created_at.date | date:'dd/MM/yyyy'}}
                          </td>
                        </tr>
                      </tbody>

                      <tbody *ngIf="!(detail.supplies.length > 0)">
                        <tr>
                          <td colspan="5" style="text-align: center">NENHUMA VENDA CADASTRADA</td>
                        </tr>
                      </tbody>

                    </table>
                  </div>
                </div>
                <div class="tab-pane fade" [ngClass]="active === 'sale' ? 'show active' : ''">
                  <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                      <thead class="thead-light">
                        <tr>
                            <th scope="col">Código</th>
                            <th scope="col">Produto</th>
                            <th scope="col" class="text-right">Quantidade</th>
                            <th scope="col" class="text-right">Preço</th>
                            <th scope="col" class="text-right">Des. Produto</th>
                            <th scope="col" class="text-right">Des. Pagamento</th>
                            <th scope="col" class="text-right">Data</th>
                        </tr>
                      </thead>
                      <tbody *ngIf="detail.supplies.length > 0" [@listObjShowup]="detail.supplies.length">
                        <tr *ngFor="let $detail of detail.sales" class="line">
                          <td>
                            {{detail.code}}
                          </td>
                          <td>
                            {{detail.description}}
                          </td>
                          <td class="text-right">
                            {{$detail.amount}}
                          </td>
                          <td class="text-right">
                            {{$detail.price | price}}
                          </td>
                          <td class="text-right">
                            {{$detail.discount | price}}
                          </td>
                          <td class="text-right">
                            {{$detail.discount_payment | price}}
                          </td>
                          <td class="text-right">
                            {{$detail.registered_at | date:'dd/MM/yyyy'}}
                          </td>
                        </tr>
                      </tbody>

                      <tbody *ngIf="!(detail.supplies.length > 0)">
                        <tr>
                          <td colspan="5" style="text-align: center">NENHUMA VENDA CADASTRADA</td>
                        </tr>
                      </tbody>

                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" style="margin: 20px auto;">
            <div class="col-12 text-right">
              <button type="button" class="btn btn-outline-default" (click)="cancel()">Fechar</button>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>