<div class="" style="padding: 15px">
    <img class="img-fluid" src="assets/img/logo.jpg" />
</div>

<div class="sidebar-wrapper">

    <div class="user">
        <!-- <div class="photo">
            <img src="http://www.joggadigital.com.br/admin/img/avatar-sarah.jpg"/>
        </div> -->
        <div class="user-info">
            <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                <span>
                    {{user.user.name}}
                    <b class="caret"></b>
                </span>
            </a>
            <div class="collapse" id="collapseExample">
                <ul class="nav">
                    <li class="nav-item">
                        <button class="btn-block" (click)="logout()" color="warn" mat-button>Sair</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div *ngIf="isMobileMenu()">
        <form class="navbar-form">
            <span class="bmd-form-group">
                <div class="input-group no-border">
                  <input type="text" value="" class="form-control" placeholder="Search...">
                  <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
                    <i class="material-icons">search</i>
                    <div class="ripple-container"></div>
                  </button>
                </div>
            </span>
        </form>
    </div>

    <ul class="nav">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngFor="let menuitem of menuItems" class="nav-item">
            <a [class.disabled]="menuitem.disabled" [routerLink]="[menuitem.path]" *ngIf="menuitem.type === 'link' && hasPermission(menuitem.permission)" class="nav-link">
                <i class="material-icons">{{menuitem.icontype}}</i>
                <p>{{menuitem.title}}</p>
            </a>
            <a data-toggle="collapse" href="#{{menuitem.collapse}}" *ngIf="menuitem.type === 'sub' && hasPermission(menuitem.permission)" (click)="updatePS()"
               class="nav-link">
                <i class="material-icons">{{menuitem.icontype}}</i>
                <p>{{menuitem.title}}<b class="caret"></b></p>
            </a>
            <!--Display the submenu items-->
            <div id="{{menuitem.collapse}}" class="collapse" *ngIf="menuitem.type === 'sub' && hasPermission(menuitem.permission)">
                <ul class="nav">
                    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngFor="let childitem of menuitem.children" class="nav-item">
                        <a [routerLink]="[menuitem.path, childitem.path]" class="nav-link">
                            <span class="sidebar-mini">{{childitem.ab}}</span>
                            <span class="sidebar-normal">{{childitem.title}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>


        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="material-icons">live_help</i>
                <p>FAQ</p>
            </a>
        </li>

        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="material-icons">description</i>
                <p>Termos</p>
            </a>
        </li>
    </ul>
</div>
