@import './../../../../_colors.scss';

.product {
    background: #FFF;
    border-radius: 3px;
    padding: 1rem;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
    font-size: .9rem;

    span.break {
        flex-basis: 100%;
    }
    button {
        color: #FFFFFF;
        background: $blue;
    }

    span.category {
        border-radius: 15px;
        padding: 3px 13px;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
        background: $gold;
        color: #FFFFFF;
    }
}