<div matRipple (click)="toggleAll()" [matRippleCentered]="false" [matRippleDisabled]="false"
    [matRippleUnbounded]="false"
    class="d-flex align-items-center justify-content-start mb-3 ml-2 mr-2 header-frabricators">
    <div class="mr-2">
        <label class="checkbox" (change)="toggleAll()" for="selectAll">
            <input id="selectAll" class="check" name="selectAll" [checked]="checked && selectedAll" type="checkbox">
            <span class="box"></span>
        </label>
    </div>
    <span>{{'Todos os Fabricantes' | uppercase}}</span>
    <app-loading [loading]="loading"></app-loading>
</div>

<ng-container *ngIf="fabricators && fabricators.length > 0">
    <app-fabricator *ngFor="let fabricator of fabricators; let i = index;" [all]="selectedAll"
        (select)="selectFabricator($event)" [index]="i" [reselect]="reselect" [fabricator]="fabricator">
    </app-fabricator>
</ng-container>

<ng-container *ngIf="!(fabricators && fabricators.length > 0) && !loading">
    <div class="d-flex align-items-center justify-content-start mb-3 ml-2 mr-2 header-frabricators">
        <h5 style="margin: 0;">Nenhum Fabricante disponível para esse produto</h5>
    </div>
</ng-container>


<button *ngIf="shouldEnableQuote && amount" class="btn-block btn-quote pt-2 pb-2" (click)="createQuote()"
    mat-raised-button>
    {{'Criar Cotação' | uppercase}}
</button>
