<hr class="my-4" *ngIf="activeAddContract()" (click)="contractFormActivated = true"/>
<div class="card-body" >
  <div class="row" *ngIf="activeAddContract()" (click)="contractFormActivated = true" >
    <div class="col-md-12 text-center">
      <button class="btn btn-primary">Adicionar Contrato</button>
    </div>
  </div>
  <form *ngIf="((mode === 'edit' && data && data.contracts.length > 0) || contractFormActivated)" [formGroup]="form" (submit)="submit()">
    <h6 class="heading-small text-muted mb-4">Informações Da Marca</h6>
    <div class="pl-lg-4">

      <div class="row">

        <div class="col-md-9 col-sm-9">
          <mat-form-field appearance="outline">
            <input
              autocomplete="off"
              (change)="modifyField('owner_name', 'bank_account')"
              matInput
              type="text"
              placeholder="Nome do Pesquisar"
              formControlName="owner_name"
              name="owner_name">
          </mat-form-field>
        </div>

        <div class="col-md-3 col-sm-3">
          <mat-form-field appearance="outline">
            <mat-select placeholder="Banco" formControlName="bank_id" name="bank_id" (selectionChange)="modifyField('bank_id', 'bank_account')">
              <mat-option *ngFor="let bank of banks " [value]=bank.id>{{bank.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </div>
      <div class="row">
        <div class="col-md-3 col-sm-3">
          <mat-form-field appearance="outline">
            <input
              autocomplete="off"
              (change)="modifyField('account', 'bank_account')"
              matInput
              type="text"
              placeholder="Nº da conta"
              formControlName="account"
              name="account">
          </mat-form-field>
        </div>
        <div class="col-md-3 col-sm-3">
          <mat-form-field appearance="outline">
            <input
              autocomplete="off"
              (change)="modifyField('account_digit', 'bank_account')"
              matInput type="text"
              placeholder="Dígito da conta"
              formControlName="account_digit"
              name="account_digit">
          </mat-form-field>
        </div>
        <div class="col-md-3 col-sm-3">
          <mat-form-field appearance="outline">
            <input
              autocomplete="off"
              (change)="modifyField('agency', 'bank_account')"
              matInput type="text"
              placeholder="Agência"
              formControlName="agency"
              name="agency">
          </mat-form-field>
        </div>
        <div class="col-md-3 col-sm-3">
          <mat-form-field appearance="outline">
            <input
              autocomplete="off"
              (change)="modifyField('agency_digit', 'bank_account')"
              matInput type="text"
              placeholder="Dígito da agência"
              formControlName="agency_digit"
              name="agency_digit">
          </mat-form-field>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-12 text-right">
        <button type="submit" class="btn btn-primary">{{getSubmitName()}}</button>
      </div>
    </div>

  </form>

</div>
