<hr class="my-4"  *ngIf="activeAddBrand()" (click)="brandFormActivated = true"/>
<div class="card-body">
  <div class="row" *ngIf="activeAddBrand()" (click)="brandFormActivated = true">
    <div class="col-md-12 text-center">
      <button class="btn btn-primary">Adicionar Marca</button>
    </div>
  </div>
  <form *ngIf="((mode === 'edit' && data && data.contracts.length > 0) || brandFormActivated)" [formGroup]="form" (submit)="submit()">
    <h6 class="heading-small text-muted mb-4">Informações Da Marca</h6>
    <div class="pl-lg-4" >

      <div class="row">
        <div class="col-md-3 col-sm-3">
          <mat-form-field appearance="outline">
            <input
              (change)="modifyField('name', 'brand')"
              autocomplete="off"
              matInput
              type="text"
              placeholder="Nome da marca"
              formControlName="name"
              name="name">
          </mat-form-field>
        </div>
        <div class="col-md-6 col-sm-6">
          <mat-form-field appearance="outline">
            <input
              (change)="modifyField('description', 'brand')"
              autocomplete="off"
              matInput
              type="text"
              placeholder="Descrição"
              formControlName="description"
              name="description">
          </mat-form-field>
        </div>

        <div class="col-md-3 col-sm-3">
          <mat-form-field appearance="outline">
            <mat-select
              placeholder="Franquia"
              formControlName="franchise_id"
              name="franchise_id"
              (selectionChange)="modifyField('franchise_id', 'contracts')">
              <mat-option *ngFor="let franchise of franchises" [value]=franchise.id>{{franchise.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>


      </div>

      <div class="row">

        <div class="col-md-2 col-sm-2">
          <mat-form-field appearance="outline">
            <input
              (change)="modifyField('postal_code', 'address')"
              autocomplete="off"
              (blur)="cepSearch()"
              matInput
              type="text"
              placeholder="CEP"
              formControlName="postal_code"
              name="postal_code">

            <mat-icon (click)="cepSearch()" style="cursor: pointer" matSuffix>search</mat-icon>

          </mat-form-field>
        </div>

        <div class="col-md-6 col-sm-6">

          <mat-form-field appearance="outline">
            <input
              (change)="modifyField('street', 'address')"
              autocomplete="off"
              matInput
              type="text"
              placeholder="Nome da Rua"
              formControlName="street"
              name="street">
          </mat-form-field>

        </div>

        <div class="col-md-4 col-sm-4">

          <mat-form-field appearance="outline">
            <input
              (change)="modifyField('city', 'address')"
              autocomplete="off"
              matInput
              type="text"
              placeholder="Cidade"
              formControlName="city"
              name="city">

          </mat-form-field>

        </div>

        <div class="col-md-12 col-sm-12">

          <mat-form-field appearance="outline">
            <input
              (change)="modifyField('complement', 'address')"
              autocomplete="off"
              matInput
              type="text"
              placeholder="Complemento"
              formControlName="complement"
              name="complement">
          </mat-form-field>

        </div>

        <div class="col-md-4 col-sm-4">

          <mat-form-field appearance="outline">
            <input
              (change)="modifyField('district', 'address')"
              autocomplete="off"
              matInput type="text"
              placeholder="Bairro"
              formControlName="district"
              name="district">

          </mat-form-field>

        </div>

        <div class="col-md-4 col-sm-4">

          <mat-form-field appearance="outline">
            <input
              (change)="modifyField('state', 'address')"
              autocomplete="off"
              matInput
              type="text"
              placeholder="Estado"
              formControlName="state"
              name="state">
          </mat-form-field>

        </div>

        <div class="col-md-4 col-sm-4">

          <mat-form-field appearance="outline">
            <input
              (change)="modifyField('number', 'address')"
              autocomplete="off"
              matInput
              type="text"
              placeholder="Número"
              formControlName="number"
              name="number">
          </mat-form-field>

        </div>

      </div>

      <div class="row">
        <div class="col-md-3 col-sm-3">
          <mat-form-field appearance="outline">
            <input
              autocomplete="off"
              (dateChange)="modifyField('begin_contract', 'contracts')"
              matInput
              (keypress)="begin_contract.open()"
              (focus)="begin_contract.open()"
              [matDatepicker]="begin_contract"
              placeholder="Início do contrato"
              formControlName="begin_contract"
              name="begin_contract">
            <mat-datepicker-toggle matSuffix [for]="begin_contract"></mat-datepicker-toggle>
            <mat-datepicker #begin_contract></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-md-3 col-sm-3">
          <mat-form-field appearance="outline">
            <input
              autocomplete="off"
              (dateChange)="modifyField('end_contract', 'contracts')"
              matInput
              (keypress)="begin_contract.open()"
              (focus)="end_contract.open()"
              [matDatepicker]="end_contract"
              placeholder="Final do contrato"
              formControlName="end_contract"
              name="end_contract">
            <mat-datepicker-toggle matSuffix [for]="end_contract"></mat-datepicker-toggle>
            <mat-datepicker #end_contract></mat-datepicker>
          </mat-form-field>

        </div>
        <div class="col-md-3 col-sm-3">
          <mat-form-field appearance="outline">
            <input
              autocomplete="off"
              (change)="modifyField('value', 'contracts')"
              matInput
              type="number"
              placeholder="Valor"
              formControlName="value"
              name="discount">
          </mat-form-field>
        </div>
        <div class="col-md-3 col-sm-3">
          <mat-form-field appearance="outline">
            <mat-select placeholder="Espaços" formControlName="niche_id" name="niche_id" (selectionChange)="modifyField('niche_id', 'contracts')">
              <mat-option *ngFor="let niche of niches" [value]=niche.id>{{niche.description}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </div>

    </div>

    <div class="row" *ngIf="!submitForm">
      <div class="col-md-12 text-right">
        <button type="submit" class="btn btn-primary">{{getSubmitName()}}</button>
      </div>
    </div>

  </form>

</div>
