<div class="row">
  <div class="col">
    <h2 id="title-edit"
      style="font-weight: 900; color: #f6bc00; background: #2f5584; padding: 5px 15px; margin: 0px 0px 20px;">
      Preencha apenas os campos que você deseja atualizar</h2>
  </div>
</div>

<div class="row">
  <div class="col">

    <div class="card-body" style="position: relative; background: #FFFFFF">
      <app-loading [loading]="loading"></app-loading>

      <form [formGroup]="form" (submit)="submit()" (keyup.enter)="submit()">

        <mat-form-field appearance="outline">
          <mat-label>Distribuidor</mat-label>
          <mat-select placeholder="Selecione um distribuidor" formControlName="distributor">
            <mat-option *ngFor="let distributor of distributors" [value]="distributor">
              {{distributor}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Código AX</mat-label>
          <input mask="CODE_AX" type="text" matInput placeholder="Ex: 1234567" formControlName="code_ax">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Nome Fantasia</mat-label>
          <input type="email" matInput placeholder="Ex: Moura" formControlName="trading_name">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>O que você pretende alterar no cadastro?</mat-label>
          <textarea type="email" matInput placeholder="Ex: Nome fornecedor = Moura" formControlName="observation"></textarea>
        </mat-form-field>

        <div style="text-align: right">
          <button type="submit" mat-raised-button style="background: #279b37; color: #FFFFFF"> Enviar
          </button>
        </div>

      </form>
    </div>

  </div>
</div>

<swal
  #successSwal
  title="Ajustes enviados com sucesso"
  type="success"
  text="Você receberá um email em breve"
  (confirm)="goToRegister()">
</swal>

<swal
  #errorSwal
  title="Ocorreu um erro"
  type="error"
  text="Por favor, tente novamente mais tarde">
</swal>