<div *ngIf="selectedTimesMenu && timesMenu && timesMenu.length > 0">
  <button #menuTrigger="matMenuTrigger" class="filter-times-btn" [matMenuTriggerFor]="menu" mat-stroked-button>
    <i class="material-icons" style="font-size: 1rem">date_range</i> {{selectedTimesMenu.label}}
  </button>
  <mat-menu #menu="matMenu" xPosition="before">
    <div class="container-fluid leads-filter-times" (click)="$event.stopPropagation()">
      <div class="row">
        <div *ngIf="shouldOpenFormDate" class="col-md-8" [ngStyle]="{'max-width': width +'px', 'width': width +'px'}">
          <ngb-datepicker #dp (select)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t"
            outsideDays="hidden">
          </ngb-datepicker>
          <ng-template #t let-date let-disabled="disabled" let-focused="focused">
            <span class="custom-day" [class.text-muted]="disabled" [class.focused]="focused"
              [class.range]="isRange(date)" [class.faded]="isHovered(date) || isInside(date)"
              (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
              {{ date.day }}
            </span>
          </ng-template>
          <div style="text-align: right; margin: 8px 0px 0px 0px;">
            <span></span>
            <button (click)="selectRange()" mat-raised-button style="background: #279b37; color: #FFFFFF"> Pesquisar
            </button>
          </div>
        </div>
        <div [ngClass]="shouldOpenFormDate ? 'col-md-4' : 'col-12'" class="options">
          <button class="text-center" *ngFor="let menuType of timesMenu" mat-menu-item
            (click)="selectTimesMenu(menuType)">
            {{menuType.label}}
          </button>
        </div>
      </div>
    </div>
  </mat-menu>
</div>