<div [@showup] class="header bg-gradient-primary pb-4 pt-4">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row justify-content-center" *ngIf="cards && user && user.contracts.length > 0" [@listNiches]="cards.length">

        <div class="col-xl-4 col-lg-6" *ngIf="acl.can('purveyor_content')">
          <app-dashboard-card-select-brand [contracts]="user.contracts" [brand]="brandSelected" (changeBrand)="changeBrand($event)"></app-dashboard-card-select-brand>
        </div>

        <div class="col-xl-4 col-lg-6" [ngClass]="last ? 'col-12' : 'col-6'" *ngFor="let card of cards; let last = last">
          <app-dashboard-card [purveyor]="acl.can('purveyor_content')" [config]="card"></app-dashboard-card>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row pt-5 pb-5">
    <div class="col-xl-12 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 *ngIf="contract" class="mb-0" style="display: flex; align-items: center;">
                <a class="avatar avatar-sm" style="margin-left: 10px;">
                  <img alt="Image placeholder" [src]="getImage(contract.brand)" class="rounded-circle">
                </a>
                <span style="margin-left: 10px;">
                  {{contract.brand.name}}
                </span>
              </h3>
            </div>
          </div>

        </div>

        <app-loading [loading]="status_form.loading"></app-loading>

        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Código</th>
                <th scope="col">Descrição</th>
                <th class="text-right" scope="col">Quantidade</th>
                <th class="text-right" scope="col">Preço</th>
                <th scope="col" class="text-right">Ações</th>
              </tr>
            </thead>
            <tbody *ngIf="componentData" [@listObjShowup]="componentData.length">
              <tr *ngFor="let product of componentData" class="line">
                <td [class.danger]="product.amount <= 0">
                  {{product.code}}
                </td>
                <td [class.danger]="product.amount <= 0">
                  {{product.description}}
                </td>
                <td [class.danger]="product.amount <= 0" class="text-right">
                  {{product.amount}}
                </td>
                <td [class.danger]="product.amount <= 0" class="text-right">
                  {{product.price | price}}
                </td>
                <td>
                  <div class="dropdown">
                    <a class="btn btn-sm btn-icon-only text-light" role="button" (click)="actions($event)">
                      <i class="fa fa-ellipsis-v"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow" style="z-index: 9;">
                      <!-- [routerLink]="['/painel/vendas/detalhamento', sale.id]" -->
                      <a class="dropdown-item text-center" >
                        <a class="btn btn-sm btn-info" (click)="openProductDetail(product)">
                          <mat-icon matSuffix>assignment</mat-icon> <span style="margin-left: 3px"> Detalhamento
                          </span>
                        </a>
                      </a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>

            <tbody *ngIf="componentData && !safe_pagination">
              <tr>
                <td colspan="5" style="text-align: center">
                  <mat-paginator #pagination [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                    (page)="onPaginateChange($event)"></mat-paginator>
                </td>
              </tr>
            </tbody>

            <tbody *ngIf="!componentData || (componentData && componentData.data && componentData.data.length <= 0)">
              <tr>
                <td colspan="5" style="text-align: center">NENHUMA VENDA CADASTRADA</td>
              </tr>
            </tbody>

          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<app-purveyor-product-detail *ngIf="showProductDetail" (close)="close($event)" [detail]="detail"></app-purveyor-product-detail>
