.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    color: #FFFFFF!important;
}

.text-light {
    color: #b1bbc4 !important
}

.line:hover {
    background: #eaeaea;
    cursor: pointer;
}

.danger {
    font-weight: bold;
    color: red;
}