<div *ngIf="selectedAccountMenu && accountsMenu && accountsMenu.length > 0" class="container-fluid leads-filter-times"
  (click)="$event.stopPropagation()">
  <div class="row">
    <form [formGroup]="form">
      <mat-form-field [ngStyle]="{'font-size.px': 10}" class="example-full-width" appearance="outline">
        <mat-label>Conta</mat-label>
        <input matInput autofocus placeholder="Ex: Jogga Digital" formControlName="account" aria-label="Conta"
          [matAutocomplete]="auto" />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option (click)="selectAccountMenu(account)" *ngFor="let account of (filteredAccountsMenu | async)"
            [value]="account.name">
            <img *ngIf="account.picture" class="example-option-img" aria-hidden [src]="account.picture" height="25"
              style="margin-right: 5px; max-width: 35%;" />
            <span>{{ account.name }}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </div>
</div>
