.reports {
    display: flex;
}

.report-content {
    padding: 5px;
  }

.report {
    padding: 20px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 6px;
    cursor: pointer;
}

.report img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.report.active,
.report:hover {
    border-color: #5e72e4;
}

.report.active img,
.report:hover img {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}
