<div class="row">
    <app-dashboard-card 
        *ngFor="let card of cards"
        [title]="card.title" 
        class="d-flex col-md-3 col-sm-6 col-6"
        [method]="card.method"
        [service]="card.service"
        [id]="idAccount"></app-dashboard-card>
</div>

<div [@detailExpand]="shouldShowBudget ? 'expanded' : 'collapsed'" class="row">
    <div class="col">
        <div class="card" style="border-radius: unset!important; margin-bottom: 0!important;">
            <div class="card-header card-header-success card-header-icon">
                <h6 class="card-title">
                    Orçamento do mês de {{getMonth()}}
                </h6>
            </div>
            <div class="card-body" style="background: #FFFFFF">
                <div class="row">
                    <div class="col">
                        <div class="d-flex align-items-center justify-content-space-between">
                            <span style="margin: 0 10px">0%</span>
                            <mat-progress-bar mode="determinate" [value]="'79'"></mat-progress-bar>
                            <span style="margin: 0 10px">100%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <app-campaigns-list></app-campaigns-list>
    </div>
</div>