<!-- Header -->
<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">


      <!-- Card stats -->
      <div class="row" *ngIf="cards && cards.length > 0" [@listNiches]="cards.length">

        <div class="col-xl-4 col-lg-6" *ngIf="acl.can('purveyor_content')">
          <app-dashboard-card-select-brand [contracts]="user.contracts" [brand]="brandSelected" (changeBrand)="changeBrand($event)" ></app-dashboard-card-select-brand>
        </div>

        <div class="col-lg-6" [ngClass]="card.icon ? 'col-xl-3' : 'col-xl-2'" *ngFor="let card of cards">
          <app-dashboard-card [purveyor]="acl.can('purveyor_content')" [config]="card"></app-dashboard-card>
        </div>

      </div>
    </div>
  </div>
</div>

<div *ngIf="acl.can('manage_content')" class="container-fluid mt--5  mb-5">
  <div class="row justify-content-center">
    <div class="col-xl-7 col-lg-7">
        <app-dashboard-cash-balance></app-dashboard-cash-balance>
    </div>
  </div>
</div>